---
#sudo: required

language: java

jdk:
  - oraclejdk8

before_install:
  # https://github.com/travis-ci/travis-ci/issues/4105
  #- sudo apt-get install shellcheck

script:
  - ./gradlew checkShell build